body{
    margin: 0;
    display: grid;
    grid-template-areas: "navbar navbar navbar navbar"
                         "header section aside div"
                         "footer footer footer footer";
 grid-template-rows: 20vh 70vh 40vh;                        
}

nav{
grid-area: navbar;
    background-color: yellow;
display: flex;
align-items: center;
justify-content: space-around;

}

nav a{
    text-decoration: none;
    font-family:  'Anton', sans-serif;

    font-size: 20px;
}

img{
    cursor: pointer;
    display: none; 
    width: 32px;
    height: 32px;     
}

@media(max-width: 768px){
    nav a{
        display: none;}
        nav img{
            display: block;
        }
    }

header{
    grid-area: header;
    background-color: limegreen
}

section{
    grid-area: section;
    background-color: aquamarine;
}

aside{
    grid-area: aside;
    background-color: orange;
}

footer{
    grid-area: footer;
    background-color: magenta;
}

div{
    grid-area: div;
    background-color: tomato;
}

@media(max-width: 768px){
    body{
        grid-template-areas: "navbar navbar navbar navbar"
                             "header header section section"
                             "aside aside div div"
                             "footer footer footer footer";
    grid-template-rows: 20vh 70vh 70vh 40vh  
    }
}

@media(max-width: 475px){
    body{
        grid-template-areas: "navbar navbar navbar navbar"
                             "header header header header"
                             "section section section section"
                             "aside aside aside aside"
                             "div div div div"
                             "footer footer footer footer";
    grid-template-rows: 20vh 50vh 50vh 50vh 50vh 40vh;
    }
}

