body{
    margin: 0;
    display: grid;
    grid-template-areas: "navbar navbar navbar navbar"
                         "header section aside div"
                         "footer footer footer footer";
 grid-template-rows: 20vh 70vh 40vh;                        
}

nav{
grid-area: navbar;
    background-color: yellow;
display: flex;
align-items: center;
justify-content: space-around;

}

nav a{
    text-decoration: none;
    font-family:  'Anton', sans-serif;
    color: lawngreen;

    font-size: 20px;
}

nav a:hover{
    color: blueviolet

}

nav img{
    cursor: pointer;
    display: none; 
    width: 32px;
    height: 32px; 
    padding: 10px;
    border: 3px     
}

@media(max-width: 768px){
    nav a{
        display: none;}
        nav img{
            display: block;
        }
    }

header{
    grid-area: header;
    background-color: limegreen
}

section{
    grid-area: section;
    background-color: aquamarine;
}

aside{
    grid-area: aside;
    background-color: orange;
}

footer{
    grid-area: footer;
    background-color: magenta;
}

#Batata{
    grid-area: div;
    background-color: tomato;
}

@media(max-width: 768px){
    body{
        grid-template-areas: "navbar navbar navbar navbar"
                             "header header section section"
                             "aside aside div div"
                             "footer footer footer footer";
    grid-template-rows: 20vh 70vh 70vh 40vh  
    }
}

@media(max-width: 475px){
    body{
        grid-template-areas: "navbar navbar navbar navbar"
                             "header header header header"
                             "section section section section"
                             "aside aside aside aside"
                             "div div div div"
                             "footer footer footer footer";
    grid-template-rows: 20vh 60vh 60vh 60vh 60vh 40vh;
    }
}

.Meme{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    max-width: 90%;
    border: 4px dotted magenta;
    padding: 10px;
}

header,section,aside,#Batata{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icone{
    width: 52px;
    height: 52px;

}

footer div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: blue;
    width: 320px;
    height: 32px;

}

